.container{
    display: flex;
    column-gap: 20%;
    margin-left: 2%;
}


.input-text{
    min-width: 40vw;
    min-height: 70vh;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 2% 3%;
    
}

.output-text{
    width: 35vw;
    height: 80vh;
    font-size: 15px;
    background-color: rgb(48, 34, 34);
    border-radius: 5px;
    padding: 2% 3%;

}